@import '../../style.scss';
.services {
  color: $color-6;
  .heading {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
  &.-item {
    transform: scale(1.5);
    cursor: pointer;
    &:hover {
      background: $color-3;
    }
    .svg-icon {
      fill: 'thistle'!important;
      width: 150px!important;
      height: 150px!important;
    }
  }
  .white {
    color: $color-5;
  }
  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    &.-item{
      padding: 20px 40px;
      background: $color-3;
      color:$color-5;
      max-width: 350px;
      margin: 20px;
      text-align: center;
      transition: 0.5s;
      /* img {
        max-width: 80px;
        width: 100px;
        height: 100px;
        filter: invert(1)
      } */
    }
  }
}
