@import '../../style.scss';
.about {
  color:$color-6;
  p {
    color:$color-6;
    text-align: justify;
  }
  .heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    h2 {
      font-weight: 600;
      font-size: 30px;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    .content-description {
      padding-right: 30px;
    }
    h3{
      font-size: 24px;
      margin-bottom: 10px;
    }
    .content-width {
      width: 100%;
    }
    img {
      max-width: 100%;
      /* width: 200px;
      height: 100px; */
    }
  }
}
