@import '../../style.scss';
.about {
  color:$color-6;
  padding-top: 80px;
  p {
    color:$color-6;
    text-align: justify;
    letter-spacing: 3px;
    line-height: 2;
  }
  .heading {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    .content-description {
      padding: 10px 30px 10px 30px;
    }
    h3{
      font-size: 24px;
      margin-bottom: 10px;
    }
    .content-width {
      width: 100%;
      padding: 10px 30px 10px 30px;
    }
    img {
      max-width: 100%;
      /* width: 200px;
      height: 100px; */
    }
  }
  @media screen and (min-width:900px) {
    .content {
      flex-direction: row;
    }
  }
}
