@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

$font: 'Sora', sans-serif;
$primary-color: #3e6f9e;

/* PALETA 4
4. Classic Double Blue Color Scheme
*/

$color-1: #12232E;
$color-2: #007CC7;
$color-3: #4DA8DA;
$color-4: #203647;
$color-5: #EEFBFB;
$color-6: rgb(2, 2, 2);
$card-bckg-color: #efecee;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: $font;
  color: $color-5;
  min-width: 350px;
}

.section-heading {
  text-align: center;
  h2 {
    font-size: 4em;
    font-weight: 500;
    line-height: 1.5em;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 500;
  }
  span {
    color: $color-2;
    font-size: 1.5em;
    font-weight: 700;
  }
}

.btn {
  position: relative;
  background: $color-2;
  display: inline-block;
  color: $color-5;
  padding: 10px 30px;
  font-size: 1em;
  text-decoration:none;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  &:hover{
    background-color: $color-3;
  }
}

.wrapper {
  max-width: 1024px;
  margin-inline: auto;
  margin: auto;
}

.app__wrapper {
  padding-block: 1em;
}