@import '../../style.scss';
.work {
  color:$color-6;
  padding: 80px 0 2em 0;
  &__btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-inline: 2em;
    margin-block: 2em;
  }
  .grid {
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    @media (max-width: 50em) {
      grid-gap: 3rem;
   }
   &__item {
    background-color: $color-5;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      transform: translateY(-.5%);
      box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
    }
   }
  }
  .card {
    &__figure {
      display: block;
      width: 100%;
      height: 20em;
    }
    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &__content {
      padding: 3rem;
      display: flex;
      justify-content: center;
      flex-flow: column;
      text-align: center;
    }
    &__header{
      font-size: 3rem;
      font-weight: 500;
      color: $color-6;
      margin-bottom: 1.5rem;
    }
    &__text{
      font-size: 1.5rem;
      letter-spacing: .1rem;
      line-height: 1.7;
      color: darken($color-6, 1%);
      margin-bottom: 1.5rem;
    }
  }
}
