@import '../../style.scss';
.banner {
  position: relative;
  min-height: 100vh;
  /* background: url('../../../public/assets/images/background.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  padding: 100px 10px 0px 10px;
  background-color: $color-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  .banner-image {
    .image {
      width: 100%;
      margin: 0 auto;
    }
  }
}
