@import '../../style.scss';
.banner {
  position: relative;
  min-height: 100vh;
  /* background: url('../../../public/assets/images/background.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  padding: 100px 10px 0px 10px;
  background-color: $color-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  .banner-image {
    margin: 10px auto;
    .image {
      width: 100%;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 780px){
    .banner {
      flex-wrap: nowrap;
    }
  }
  .section-heading {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.5em;
    margin-bottom: 20px;
    h2  {
      background-image: url("https://media.giphy.com/media/H6uebdUt82gh9FSuqp/giphy.gif");
      // background-image: url("https://media.giphy.com/media/6oeRBKg7mwEZnSnYkn/giphy.gif");
      background-size: cover;
      color: transparent;
      -webkit-background-clip: text;  
      background-clip: text;
      color: transparent;
    }
  }
}
