@import '../../style.scss';
.banner {
  position: relative;
  min-height: 100vh;
  /* background: url('../../../public/assets/images/background.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  background-color: $color-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  h2 {
    font-size: 3em;
    font-weight: 500;
    line-height: 1.5em;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 500;
  }
  span {
    color: $color-2;
    font-size: 1.5em;
    font-weight: 700;
  }
  .image {
    width: 300px;
  }
  .btn {
    a {
      text-decoration:none;
    }
  }

}
